<!DOCTYPE html>
<html>
    <head>
        <title>LOGISTIC COMPANIES</title>
        <link rel="Stylesheet" type="text/css" href="../static/CSS/company.css">
        <link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
    </head>

<body bgcolor="#FA8072">
    <header class="he">Top rated Logistical Companies</header>
    <div class="rate">
    <h2>1.DHL</h2>
    <p>DHL (Dalsey, Hillblom and Lynn) International GmbH is a German courier, parcel, and express mail service which is a division of the German logistics company Deutsche Post DHL. The company delivers over 1.3 billion parcels per year.[3]

        The company was founded in the United States in 1969 and expanded its service throughout the world by the late 1970s. In 1979, under the name of DHL Air Cargo, the company entered the Hawaiian islands with an inter-island cargo service using two DC-3 and four DC-6 aircraft. Dalsey and Hillblom personally oversaw the daily operations until its eventual bankruptcy closed the doors in 1983. At its peak, DHL Air Cargo employed just over 100 workers, management and pilots.<a class="a1" href="https://en.wikipedia.org/wiki/DHL">ReadMore</a></a></p>
    </div>
    <img src="../static/images/dhl.jpg" alt="ooo" class="p1">
    <p><b>Net Gross Revenue:27302 Million</b></p>
    <br>
    <div class="rate2">
        <h2>2.Kuehne + Nagel</h2>
        <p>Kuehne + Nagel International AG (or Kühne + Nagel) is a global transport and logistics company based in Schindellegi, Switzerland.[3] It was founded in 1890, in Bremen, Germany, by August Kühne and Friedrich Nagel.[4] It provides sea freight and airfreight forwarding, contract logistics, and overland businesses. In 2010, Kuehne + Nagel was the leading global freight forwarder, accounting for nearly 15% of the world's air and sea freight business by revenue, ahead of DHL Global Forwarding, DB Schenker Logistics, and Panalpina.[5] As of 2017, it has more than 1,336 offices in 109 countries, with around 82,000 employees.<a class="a1" href="https://en.wikipedia.org/wiki/Kuehne_%2B_Nagel">ReadMore</a></a></p>
    </div>
    <img src="../static/images/oo1.png" alt="oooo" class="p1">
    <p><b>Net Gross Revenue:25875 Million</b></p>
    <br>
    <div class="rate3">
        <h2>3.Nippon Express</h2>
        <p>
            Nippon Express Co., Ltd. (日本通運株式会社, Nippon Tsūun Kabushiki-gaisha, Nittsu) (TYO: 9062) is a Japanese global logistics services company. It is based in Tokyo and listed on the Tokyo Stock Exchange under the ticker TKS(9062). [1]

Its shareholding is dominated by banks and financial institutions mostly related to the Mizuho (Mizuho Financial Group) and Sumitomo Mitsui (SMFG) Keiretsus.

In Japan it is commonly known as 'Nittsu', and some of Nippon Express subsidiaries include 'Nittsu' in their names.
        <a class="a1" href="https://en.wikipedia.org/wiki/Nippon_Express">ReadMore</a></p>
    </div>
    <img src="../static/images/ll1.png" alt="ooooo" class="p1">
    <p><b>Net Gross Revenue:19953 Million</b></p>
    <a class="a1" href="https://www.3plogistics.com/3pl-market-info-resources/3pl-market-information/aas-top-50-global-third-party-logistics-providers-3pls-list/">For more top logistic Companies,Click Here</a>

</body>
</html>