<!DOCTYPE html>
<html>
    <head>
        <title>Logistics Management</title>
        <link rel="stylesheet" type="text/css" href="../static/CSS/logistyle.css">
        <link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
    </head>

<body bgcolor="#2471A3" background="..static/images/logis3.jpg">
        <header>Logistics Management</header>
        <img src="../static/images/logilogo.png" alt="logo" class="logi">
        <div class="Sidelinks">
            <a href="https://www.techopedia.com/definition/13984/logistics-management#:~:text=Logistics%20management%20is%20a%20supply,services%20from%20origin%20to%20destination.">Home</a>
            <a href="https://www.scmhub.com/?gclid=CjwKCAjwn9v7BRBqEiwAbq1EyzaU2ly28ILBHZWP0uqyiGbh9tt0NjDpdA9MNuDFv9MxrgzK1nl-bhoCiakQAvD_BwE">Courses</a>
            <a href="https://www.ilamindia.in/scpoe-of-logistics-in-india-and-abroad.php">Carrier</a>
            <a href="https://aims.education/study-online/what-is-logistics-management/">AboutUs</a>
            <a href="/Logistic_Companies">LogisticCompanies</a>
        </div>
       
        <div class="Intro">
        <div class="Def">
            <h2>What is Logistics??</h2>
        </div>
        <div class="Intro1">
            <p>Logistics is generally the detailed organization and implementation of a complex operation. In a general business sense, logistics is the management of the flow of things between the point of origin and the point of consumption to meet the requirements of customers or corporations. The resources managed in logistics may include tangible goods such as materials, equipment, and supplies, as well as food and other consumable items. The logistics of physical items usually involves the integration of information flow, materials handling, production, packaging, inventory, transportation, warehousing, and often security.</p>
        </div>
    
        
        </div>
        <img src="../static/images/logi4.jpg" alt="logo2" class="logi2">
    <div class="Type">
        <div class="Type1">
        <h2><u>Types Of Logistics</u></h2></div>
        <div class="Type2">
        <p>There are many types of logistics. The most well known type is sales logistics that moves products from the producer to the consumer. In addition, there are a number of other types of logistics, such as procurement logistics which is the flow of raw materials and parts, production logistics which is the flow of materials inside a factory or business, recovery logistics which is the return flow of returns from consumers and waste, and recycling logistics which is the flow of recyclable materials. This section describes the types and fields of logistics in depth.
        </p></div>
        
    </div>
    <img src="../static/images/logi5.jpg" alt="logo3" class="logi3">
    <div class="Management">
        <div class="Management1">
        <h2><u>Importance of Logistics</u></h2></div>
        <div class="Management2">
            <p>Logistics is an important element of a successful supply chain that helps increase the sales and profits of businesses that deal with the production, shipment, warehousing and delivery of products. Moreover, a reliable logistics service can boost a business' value and help in maintaining a positive public image</p>
        </div>
       
    </div>
   
    <div class="Skill">
       <
        <div class="Skill1">
            <h3><u>Skills Required</u></h3>
        </div>
        <div class="Skill2">
            <p>Key skills for logistics and distribution managers
                <ol>
                <li>interpersonal skills – the ability to work well in a team, as well as to manage and motivate others</li>
                <li>logical reasoning and problem-solving skills</li>
                <li>the ability to think creatively</li>
                <li>interpersonal skills</li>
                <li>skills in data analysis, including working with electronic data</li>
                <li>logical reasoning</li>
                <li>time-management ability</li>
                <li>the ability to plan ahead and deal with unexpected changes.<a href="https://targetjobs.co.uk/careers-advice/job-descriptions/280579-logisticsdistribution-manager-job-description">Read more</a></li></ol>
            
            </p>
            
        </div>
         
    </div>
   <footer class="hi">
       <p align="center">Copyright@2020</p>
   </footer>
   

    </body>
    </html>